<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Online Courses</title>
  </head>
  <body>
    <a href='/courses'>Back</a>
    <% if(course) { %>
        <h1>Course Name: <%= course.course_name %></h1>
        <h3>Description: <%= course.description %></h3>
        <h3>Instructor: <%= course.instructor %></h3>
        <h3># of TA's: <%= course.number_of_tas %></h3>
        <h3># Students: <%= course.num_students %></h3>
        <% } else { %>
        <h1>Course not found</h1>
    <% } %>
  </body>
</html> 